/* Adding background color */
body, html {
    background-color: #7f9bac;
}
/* The navigation bar */
.navbar {
    font-size: 17px ;
    overflow: hidden;
    background-color:black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color:#f9e7e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change background on mouse-over */
.navbar a:hover {
    background-color: #9eb3c0;
     
}
/* Style the search box inside the navigation bar */
.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
.navbar input [ type=text ] {
    border: 1px solid #ccc;
}
.logo {
    padding-left: 30%;
    min-height: 40px;
    max-width: 60px;
    margin-top: 0.3%;
    
}

.price {
    color: grey;
    font-size: 22px;
  }
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
} 
  
.card button:hover {
    opacity: 0.7;
} 
  
.flex-container { 
    display: flex;
    flex-direction: row;
    
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 80px;
}

.card img {
    object-fit: contain;
    height: 400px;
}
  
.site-footer {
    background-color:#000000;
    margin-top: 100px;
    /* padding-top: 75px 0 55px; */
    font-size: 15px;
    line-height: 10px;
    color:#737373;
}
.site-footer hr {
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small {
    margin:60px 0;
}
.site-footer h6 {
      color:#fff;
      font-size:15px;
      text-transform:uppercase;
      text-align: center;
      text-decoration: underline;
      margin: 15px;
      letter-spacing:2px
}
.site-footer a {
      color:#737373;
}
.site-footer a:hover {
    color:#9eb3c0;
    text-decoration:none;
}

.footer-links {
  text-align: center;
  padding: 0;
  margin-top: 15px;
  list-style: none;
  
}

.footer-links li {
  display:block;
  line-height: 1.5;
  
  
}

.footer-links a {
      color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
      color:#9eb3c0;
      text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}
.site-footer .social-icons {
  text-align:center;
}
.text-justify {
  text-align: center;
}

.copyright-text {
      text-align: center;
}

@media (max-width:991px) {

.site-footer [class^=col-] {
  margin-bottom: 50px
}

}
@media (max-width:767px) {

.site-footer {
  padding-bottom: 0;
}

.site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
}
}

.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons img {
  display:inline-block;
  margin-bottom:4px;
  color: #818a91;
  font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
}

/* Now we have to design each icon of social media */         
.facebook {   
  background: #3b5998;   
  color: white;  
  }         
.twitter {   
  color: white;   
  background: #00acee;   
}   
.linkedin {   
  background: #0e76a8;   
  color: white;   
}         

.github {   
  background: #3f729b;   
  color: white;   
}         
  
@media (max-width: 767px) {
}




 